<h2 id="title">Users</h2>

<table>
  <thead>
    <tr>
      <td>User</td>
      <td>#no posts</td>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.posts.length}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
